html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background: linear-gradient(to right, #ff416c, #3e0471);
  background-attachment: fixed;
  overscroll-behavior: none;
  color: #333;
}

#root {
          min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: flex-start;
        }

        .logo {
position: absolute;
  height: 50px;
  width: 50px;
  object-fit: contain;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
